{% extends "base" %}
{% block content %}

<div class="row col-8">
    <h1 class="pb-3">404</h1>
    <img alt="shrug" src="https://media.giphy.com/media/QQZgTehcKrD2w/giphy.gif"/>
</div>
{% endblock content %}
